# Python
__pycache__/
*.py[cod]
.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage

# Environment
.env
.venv/

# Logs
logs/
*.log

# Notebooks checkpoints
.ipynb_checkpoints/
notebook/

# Data
datasets/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# pytest.ini
[pytest]
asyncio_mode = auto